*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: 210vh;
}
h1 {
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(30, 255, 0);
    text-shadow: 0px 0px 6px rgba(29, 4, 253, 0.767);
}
.content-all {
    width: 210px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 40px;
}
.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel figure {
    width: 100%;
    height: 300px;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}
.content-carrousel figure {
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1)
    {transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2)
    {transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3)
    {transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4)
    {transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5)
    {transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6)
    {transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7)
    {transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8)
    {transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9)
    {transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10)
    {transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;

}

.content-carrousel img:hover{
    transform: scale(1.4);
    transition: all 300ms;

}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
/* ******************Estilos Del A******************* */
a{
    background-color: #e64124a4;
    border: 0;
    border-radius: 20px;
    color: rgb(45, 248, 4);
    cursor: pointer;
    font-size: 15px;
    padding: 15px 15px;
    margin: 30px 0;
}

a:hover{
    background-color: #5e08e7;
}
